body {
  margin: 0;
  background-image: radial-gradient(springgreen, white);
}

* {
  font-family: Abel;
}

header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-decoration: underline;
  font-size: 2em;
}

main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#player-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

#message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(7, 8vh);
  grid-template-rows: repeat(1, 53vh);
  transform: scaleY(-1);
  grid-gap: 1vh;
}

#grid-container > div {
  display: grid;
  grid-template-columns: repeat(1, 8vh);
  grid-template-rows: repeat(6, 8vh);
  grid-gap: 1vh;
}

#number-buttons-container {
  display: flex;
  justify-content: space-between;
}

.number-button {
  width: 8vh;
  margin-top: 7px;
  border-radius: 2px;
  background-color: black;
  font-weight: bold;
  background-color: skyblue;
  color: black;
  border: 2px solid black;
  text-align: center;
}

button:hover {
  background-color: springgreen;
}

input {
  margin: 10px;
}

#startGame {
  border-radius: 2px;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: skyblue;
  color: black;
  border: 2px solid black;
  display: initial;
}

#startGame:hover {
  transform: scale(1.1);
  background-color: springgreen;
}

#play-again-button {
  font-size: 20px;
  background-color: hotpink;
  border: 3px solid black;
  font-weight: bold;
  border-radius: 2px;
  margin-top: 15px;
}

#play-again-button:hover {
  transform: scale(1.1);
  background-color: gold;
}
