body {
  margin: 0;
}

header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px ;
}

h1 {
  text-decoration: underline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}
#container {
display: grid;
grid-template-columns: repeat(7,100px);
grid-template-rows: repeat(1,600px);
}

#container > div{
  display: grid;
  grid-template-columns: repeat(1,100px) ;
  grid-template-rows:repeat(6,100px) ; 
}
main{
  width: 100vw;
  display: flex;
  justify-content: center;
}
